* {
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f2f5f7;
}

main {
    min-height: auto;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

header {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

nav {
    background-color:#296799;
}

ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}

ul li {
    display: table-cell;
    min-width: 50px;
}

ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}

ul li:hover a {
    color:#296799;
}

ul li:hover {
    background-color: #fff;
}

footer {
    width: 100%;
    height: 50px; 
    text-align: center;
    padding: 50px 0;
    text-align: center;
    background-color: #48998F;
}

aside {
    text-align: left;
    width: 35%;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #296799;
}

.subtitle {
    text-align: left;
    padding: 15px 15px;
}

.subsubtitle {
    text-align: left;
    padding: 10px 25px;
}

.editor {
    margin: 10px 25px;
    background-color: rgb(46, 43, 43);
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 0px 15px;
}


.top {
    background-color: #888;
    background-color: #296799;
    color: #fff;
}

.content {
    flex: 1;
    background-color: #e7e0d6;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.explanation{
    text-align: left;
    padding: 0 25px;
}

.box {
    padding: 50px 10px;
    margin: 20px 20px;
    font-weight: bold;
    color: #0569eb;/*文字色*/
    background: #f8f8f8;
    border: solid 3px #176cdb;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.linkTitle {
    font-size: 20px;
}

@media screen and (max-width: 800px){
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }
}